@import "../variables";
@import "../mixins";


.page-content {

  // Modern clearfix: prevent floats clearing box
  display: flow-root;

  // Standard padding is page margins
  padding: var(--margin-page-v) var(--margin-page-h);
}

.header.main {
  .header-menu {
    gap: 1rem;
  }

  padding: 1rem var(--margin-page-h);

  .logo {
    margin-bottom: unset;

    img {
      max-width: 120px;
    }
  }
}
